@import url("https://fonts.googleapis.com/css?family=Eczar:800");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");

.background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.background-wrapper h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-family: "Eczar";
  font-size: 60vmax;
  color: #282828;
  letter-spacing: 0.025em;
  margin-top: 400px;
  transition: 750ms ease-in-out;
}

a {
  border: 2px solid #555;
  padding: 0.5em 0.8em;
  position: fixed;
  z-index: 1;
  color: #555;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 150ms;
}
a svg > polyline {
  transition: 150ms;
}
a:hover {
  color: #333;
  background: #dadada;
  border-color: transparent;
}
a:hover svg > polyline {
  stroke: #000;
}
a:hover + .background-wrapper > h1 {
  color: #dadada;
}

p {
  color: #dadada;
  font-size: calc(1em + 3vmin);
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  margin: 0;
  text-align: right;
  text-shadow: -1px -1px 0 #121212, 1px 1px 0 #121212, -1px 1px 0 #121212,
    1px -1px 0 #121212;
}
@media screen and (min-width: 340px) {
  p {
    width: 70%;
  }
}
@media screen and (min-width: 560px) {
  p {
    width: 50%;
  }
}
@media screen and (min-width: 940px) {
  p {
    width: 30%;
  }
}
@media screen and (min-width: 1300px) {
  p {
    width: 25%;
  }
}
